body {
  margin: 0;
  padding: 25px 0px 0px 0px;
}
ul.newPostCategory{
    margin:0;
    padding:0;
}
ul.newPostCategory li {
    display:inline;
    padding:0px 5px;
}
li.cat-list {
     text-transform: uppercase;
}
.posts h2 {
    margin-top:10px;
}
textarea.postEntry {
    height:200px;
}
.postDetailBody{
    border: 1px solid black;
    padding:10px;
}
.postDetail{
    margin-bottom:15px;
}
.controlIcon{
    cursor:pointer;
    padding:0 5px;
}
.sideBar .listGroup{
    width:100%;
}
.postTitle.h1{
    margin-top: 0px;
}
.commentSection{
    margin-top:15px;
}
.commentInputControls{
    margin-top:5px;
}
.commentPostedBy{
    font-size: 10px;
    font-style: italic;
}
.postedBy{
    font-size: 12px;
    font-style: italic;
}
.postsHeader > .voteScore{
    cursor:pointer;
}